@import "Variables.scss";
@import "Commun.scss";
//animation
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
      @content;
    }
    @keyframes #{$animation-name} {
      @content;
    }
}
@mixin animation($str) {
    -webkit-animation: #{$str};
    animation: #{$str};
}
@include keyframes(scrollUp) {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.footer{ 
    margin-top: $paddingSectionLg !important;
    color: $grey;
    .footerRow1{
        display:flex;
        .map{ //TEMPORAIRE 
            background:rgb(189, 218, 189);
        }
        .mapLocation{
            display:none; //ADDED
        }
        .map, .contact-container{
            width:50%; 
        }
        .contact-container{
            box-sizing:border-box;
            padding:1.5% 3%; //VARIABLE  
            background: $sectiongreybg;
            .title{
                color: $orange; 
                font-size: $titleLg; 
                font-weight: normal;
                margin-bottom: 20px;
            }
            form div{
                position:relative;
                .star{
                    color: $orange;
                }
            }
            //Nom* et Prénom*
            form div:nth-child(1),form div:nth-child(2){
                width:45%;
                display:inline-block;
            }
            //Nom*
            form div:nth-child(1){
                margin-right:5%;
            }
            //Prénom
            form div:nth-child(2){
                margin-left:5%;
            }
            input:focus ~ .floating-label,
            textarea:focus ~ .floating-label,
            input:not(:focus):valid ~ .floating-label,
            textarea:not(:placeholder-shown)~.floating-label{ //?
                top: 2px;
                bottom: 10px;
                left: 0px;
                font-size: 12px;
                opacity: 1;
            }
            .floating-label {
                font-size: $fontsizeSm;
                position: absolute;
                left:9px;
                top:14px;
                opacity:0.8;
                transition: 0.2s ease all;
            }
            .message{
                top:25px;
            }
            input{
                background:none;
                border:none;
                border-bottom:2px solid $footergrey;
                padding:0px 2px;
            }
            input:focus, textarea:focus{
                outline:none;
            }
            input[type=email], textarea{
                width:100%;
            }
            input[type=text]{
                width:100%;
                box-sizing:border-box;
            }
            textarea{
                height:150px;
                border:none;
                border-radius:8px;
                padding:10px;
                font-family: $Segoe;
                box-sizing:border-box;
            }
            input, textarea, button{
                margin:20px 0px;
                color: $grey;
            }
            .form-btn{
                position:absolute;
                right:0px;
                button{
                    color: $white;
                    border:none;
                    padding:6px 16px;
                    border-radius:3px;
                    opacity:1;
                    //transition: all 3s ease-in-out;;
                }
                button:hover{
                    cursor:pointer;
                }
                button:first-child{ //Annuler
                    background:$btngrey;
                }
                button:last-child{ //Envoyer
                    margin: 0px 30px;
                    background:$btngreen;
                }
            }
            .contact-info{
                margin-top: var(--contactInfo-marginTop, 0px); //Variable 
                line-height:$lineheightLg; //VARIABLES
                p{
                    font-size: $fontsizeLg;
                }
            }
        }
    }
    .footerRow2{
        p {
            text-align:center;
            padding:40px 0px;
        }
        /*position du logo*/
        .footerLogo{
            vertical-align: text-bottom;
            height: 30px;
        }
    }
}
//Responsive
//Smartphones 
@include mediaXs{
    .footer{
        .footerRow1{
            display:block;
            .map, .contact-container{
                width:100%;
            }
            .map{
                height:300px;
            }
            .contact-container{
                .title{
                font-size: $titleSm; //titre responsive
                } 
                //Nom* et Prénom*
                form div:nth-child(1),form div:nth-child(2){
                    display:block;
                    width:100%;
                }
                //Nom*
                form div:nth-child(1){
                    margin-right:0;
                }
                //Prénom
                form div:nth-child(2){
                    margin-left:0;
                }
                .contact-info{
                    line-height:$lineheightSm; //VARIABLES
                    p{
                        font-size: $fontsizeSm;
                    }
                }
            }   
        }
        .footerRow2{
            p {
                padding: 10px 0px;
                font-size:11px;
                .footerLogo{
                height: 20px;
                }
            }   
        }
    }
}
//Portrait tablet and large phone
@include mediaSm{
    .footer{
        .footerRow1{
            display:block;
            .map, .contact-container{
                width:100%;
            }
            .map{
                height:450px;
            }
        }
        .footerRow2{
            p {
                padding: 25px 0px;
                font-size:14px; 
                .footerLogo{
                    height: 24px;
                }
            }
        }
    }
}
//Tablette & Large phone 
@include mediaMd{
    .footer{
        .footerRow1{
            display:block;
            .map, .contact-container{
                width:100%;
            }
            .map{
                height:450px;
            }
        }
        .footerRow2{
            p {
                padding: 25px 0px;
                font-size:14px; 
                .footerLogo{
                    height: 24px;
                }
            }
        }
    }
}
//Responsive
@include mediaXl{
    .footer{
        .footerRow1{
            height: $footerXl;
            .map{
                height:100%;
            }
            .contact-container{
                .title{
                    font-size: $titleXl;
                }
                .contact-info{
                    margin-top: var(--contactInfo-marginTop, 20px); //Variable 
                    line-height:$lineheightXl; 
                    p{
                        font-size: $fontsizeXl;
                    }
                }
                input:focus ~ .floating-label,
                textarea:focus ~ .floating-label,
                input:not(:focus):valid ~ .floating-label,
                textarea:not(:placeholder-shown)~.floating-label{ 
                top: 5px;
                font-size: 15px;
            }
                .floating-label {
                    font-size: $fontsizeLg;
                    top:32px;
                }
                .message{
                    top:55px;
                }
                input, textarea, button{
                    margin:40px 0px;
                    color: $grey;
                    font-size:$fontsizeXl;
                }
                textarea{
                    height:220px;
                }
                .form-btn{
                    button{
                        padding:15px 30px;
                        font-size:18px;
                    }
                }
            }
        }
        .footerRow2{
            p {
                padding: 45px 0px;
                font-size:15px; 
                .footerLogo{
                    height: 32px;
                }
            }
        }
    }
}
@include mediaXxl{
    .footer{
        .footerRow1{
            height: $footerXxl;
            .contact-container{
                position: relative; 
                .title{
                    font-size: $titleXl;
                }
                .contact-info{
                    margin-top: var(--contactInfo-marginTop, 0px); //Variable 
                    line-height:$lineheightXxl; 
                    p{
                        font-size: $fontsizeXxl;
                    }
                }
                input:focus ~ .floating-label,
                textarea:focus ~ .floating-label,
                input:not(:focus):valid ~ .floating-label,
                textarea:not(:placeholder-shown)~.floating-label{ //?
                top: 5px;
                font-size: $fontsizeXl;
                }
                .floating-label {
                    font-size: $fontsizeXxl;
                    top:32px;
                }
                .message{
                    top:55px;
                }
                input, textarea, button{
                    margin:50px 0px;
                    color: $grey;
                    font-size:$fontsizeXxl;
                }
                textarea{
                    height:240px;
                }
                .form-btn{
                    position: absolute;
                    right: 50px; 
                    button{
                        padding:15px 30px;
                        font-size:18px;  
                    }
                }
            }
        }
        .footerRow2{
            p {
                padding: 45px 0px;
                font-size: $fontsizeXl; 
                .footerLogo{
                    height: 32px;
                }
            }
        }
    }
}