@import 'Variables.scss';
@import 'Commun.scss';


.sectionContainer{
    margin-top: $paddingSectionLg !important;
    display:flex;
    .sectionImage{
        padding: 3%;
        width:50%;
        img{
            width:100%; 
            height:100%;
            object-fit: contain;
        }
    }
    .sectionText{
        padding: 3%;
        width:50%;
        .paragraph{
            margin-top: $lineheightLg;
        }
        li{
            font-size: $fontsizeLg;
            color: $grey;
            line-height:$lineheightLg;
            margin:20px 0px; 
            margin-left:17px !important;

            .openFonc{
                text-decoration: none;
                color: $orange;     
            }
            .openFonc:hover{
                text-decoration: underline;
            }
        }
    }

    /*TEST UNIQUEMENT 
    //Pour chaque section de text à droite
    .sectionText:nth-of-type(even), .sectionImage:nth-of-type(even){
      //background:rgb(183, 219, 183);  
    }
    //Pour chaque section à gauche
    .sectionText:nth-of-type(odd), .sectionImage:nth-of-type(odd){
        //background: rgb(185, 160, 164);
    }*/
}



//Téléchargement
.container-telechargement{ 
    margin-top: $paddingSectionLg !important;
    background: $sectiongreybg;
    .titleTelechargement{
        padding-left:3%;
    }
}


//Responsive
//Phone: mobile 
@include mediaXs{
    .sectionContainer{
        display:block;
        position:relative; //test

        .sectionImage{
            display:none; //OU METTRE LES IMAGES 
            position:absolute;
            top:0;
        }
        .sectionText, .sectionImage{
            width:100%;
            padding:0 !important;
        }
        .sectionText{
            li{
                font-size: $fontsizeSm;
                line-height: $lineheightSm; 
            }
        }
        
        /*TEST Image 2: Tablette
        .sectionImage:nth-of-type(even){
            right:-330px; //VARIABLE PARALLAX
        } //TEST Image 1 et 2: iMac et ingénieur
        .sectionImage:nth-of-type(odd){
            left:-330px; //VARIABLE PARALLAX 
        }*/
    }
    .container-telechargement{
        .container{
            .titleTelechargement{
                padding-left:0 !important;
            }
        }
    }
}

//Ecran tablette eg:iPad Mini
@include mediaSm{
    .sectionContainer{
        .sectionText{
            width:50%; 
            li{
                font-size: $fontsizeSm;
                line-height: $lineheightSm;
            }
        }
        .sectionImage{
            height:50%; 
            margin:auto;
            //display:none;
        }
    }  
}

//Ecran medium : iPad Air 
@include mediaMd{
    .sectionContainer{
        .sectionText{
            width:50%; 
            li{
                font-size: $fontsizeMd;
                line-height: $lineheightMd;
            }
        }
        .sectionImage{
            height:50%; 
            margin:auto;
            //display:none;
        }
    } 
}

//Ecran large 
@include mediaXl{
    .sectionContainer{
        .sectionText{
            width:50%; 
            li{
                font-size: $fontsizeXl;
                line-height: $lineheightXl;
            }
        }
        .sectionImage{
            //??height:50%; 
            margin:auto;
        }
    } 
}





